{{!-- Renders all the user posts --}}
{{#each posts}}
<div class="card">
  <a href="/dashboard/edit-post/{{id}}" class="fw-bold card-header">{{title}} | {{format_date createdAt}}</a>
  <div class="card-body">
    <p class="card-text">{{body}}</p>
  </div>
</div>
{{/each}}